.post {
    background-color: #6f7408;
    /*text-align: center;*/
    width: 60%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-bottom-left-radius: 2em 5em;
    border-bottom-right-radius: 2em 5em;
    border-top-right-radius: 2em 5em;

}

.post img {
    width: 3rem;
    height: auto;
    border-radius: 1.5rem;
    display: inline-block;
}

.text {
    color: burlywood;
    display: inline-block;
    padding: 1rem;
}

.postUi {
    vertical-align: center;
    display: block;
}

.postUi button {
    text-align: center;
    vertical-align: center;
    display: inline-block;
    width: 3rem;
    height: 1.2rem;
    background-color: #977035;
    border: rgba(65, 12, 12, 0.78);
}

.likeCounter {
    /*background-color: #362917;*/
    display: inline-block;
    /*width: 3rem;*/
    /*height: 1.2rem;*/
    margin: 0.5rem 0.5rem;
    font-size: 1rem;
    color: #eae100;
    /*background-color: silver;*/
}