.header {
    grid-area: header;
    background-color: #977035;
    /*padding: 30px;*/
    /*text-align: center;*/
    font-size: 35px;
}

.header img {
    width: 5rem;
    height: auto;
    margin: 0.5rem 0 0.5rem 5rem;
}

.logo {

}

