.item {
    padding: 0.5rem 0;
}

.item a {
    color: #362917;
    text-decoration: none;
}

.item a.active {
    color: goldenrod;
}

.navbar {
    padding: 2rem;
    /*background-color: #362917;*/
}