.friends {
    padding: 2rem;
}

.friends a {
    color: #362917;
    text-decoration: none;
}

.friends a.active {
    color: goldenrod;
}

.friends h3 {
    text-align: center;
    border-bottom: 1px solid #6f7408;
}

.friend {
    padding: 2rem 0;
    height: 2rem;
    text-align: center;
}

.friend:hover {
    color: goldenrod;
}

.friend p {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.friend img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;

}

