.profileContent {

}

.profileBanner {
    background-image: url("https://im0-tub-ru.yandex.net/i?id=c9429ed3fc0171527a0e2f2ffc0ee36c&n=13");
    background-size: cover;
}
.cover {
    /*width: 100%;*/
    height: 30rem;
}

.panel {
    padding-top: 10rem;
    padding-bottom: 1rem;
    background-color: rgba(0,0,0,0.4);
}

.avatar {
    padding: 1rem 0;
    width: 10rem;
    /*margin: 10rem 0 0.5rem 0;*/
    text-align: center;
    margin: 0 auto 0 1rem;
    color: #eae100;
    background-color: rgba(255,255,255,0.2);
}

.avatar img {
    width: 90%;
    /*height: auto;*/
    padding: 0.5rem;
}

.info {
    background: aliceblue;
    display: flex;
}

.jobSection {
    color: #790101;

    width: 50%;
    padding: 1.5rem;
    background: #977035;
    border-radius: 0.5rem;
    margin: 3rem;
    text-align: center;
    line-height: 2rem;
}

.jobDescription {
    color: #e9e7db;
    font-style: italic;
}

.status {
    width: 100%;
    background: #ffb009;
    padding: 0.5rem 1rem;
    font-style: italic;
}

.contacts {
    background: aliceblue;
    padding: 1rem;
    width: 50%;
}

.contact {
    padding: 0.5rem 0;
}


