.formControl {
}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl textarea {
    resize: none;
    width: 50%;
    height: 10rem;
}

.formControl.error span {
    color: red;
}

.formGroupError {
    /*border: 2px Solid red;*/
    padding: 5px;
    color: red;
    width: 30%;
}
